<div class="container">
  <p class="display-4 text-center">My Todos</p>

  <div class="row">
    <div class="col-4 offset-4">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="show = !show">
          {{ show ? "Hide" : "Show" }}
        </button>
      </div>
    </div>
  </div>

  <app-add-todo
    *ngIf="show"
    (displayEvent)="onAddnewTodo($event)"
  ></app-add-todo>

  <div class="row">
    <div class="col-4" *ngFor="let todo of todoCollection">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center">{{ todo.title | uppercase }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
