<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">Auth Form</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="authForm" (ngSubmit)="onLogin()">
          <!-- Username -->
          <div class="form-group mb-4">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder=""
                formControlName="username"
              />
              <label for="username">Username:</label>
            </div>

            <div *ngIf="username.touched && username.invalid">
              <p
                *ngIf="username.hasError('required')"
                class="alert alert-danger"
              >
                - Username is mandatory field
              </p>

              <p *ngIf="username.hasError('email')" class="alert alert-danger">
                - Username should be in proper email format.
              </p>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group mb-4">
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder=""
                formControlName="password"
              />
              <label for="password">Password:</label>
            </div>

            <div *ngIf="password.touched && password.invalid">
              <p
                *ngIf="password.hasError('required')"
                class="alert alert-danger"
              >
                - Password is mandatory field
              </p>

              <p
                *ngIf="password.hasError('minlength')"
                class="alert alert-danger"
              >
                - Password should have at least 6 characters.
              </p>
              <p
                class="alert alert-danger"
                *ngIf="password.hasError('exclamationError')"
              >
                - Password must have exclamation (!) sign.
              </p>
            </div>
          </div>

          <!-- Confirm Password -->

          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="cnfPassword"
              id="cnfPassword"
              placeholder=""
              formControlName="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password:</label>
            <div *ngIf="cnfPassword.touched && cnfPassword.invalid">
              <p
                class="alert alert-danger"
                *ngIf="cnfPassword.hasError('confirmPasswordError')"
              >
                - Password and Confirm Password does NOT match.
              </p>
            </div>
          </div>

          <!-- Form Array : Languages Known -->
          <div class="form-group mb-4">
            <button class="btn btn-dark" (click)="onAddLanguage()">
              Add New Language
            </button>
            <br />

            <div formArrayName="languages">
              <div *ngFor="let lang of languages.controls; index as i">
                <div [formGroupName]="i">
                  <div class="row">
                    <div class="col-5">
                      <input
                        type="text"
                        name="langName"
                        formControlName="langName"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                    <div class="col-5">
                      <input
                        type="text"
                        name="langExp"
                        formControlName="langExperience"
                        class="form-control"
                        placeholder="Experience"
                      />
                    </div>
                    <div class="col-2">
                      <div class="d-grid">
                        <button
                          class="btn btn-outline-danger"
                          (click)="onDeleteLanguage(i)"
                        >
                          🗑️
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- button -->
          <div class="form-group mb-4">
            <div class="row">
              <div class="col-6">
                <div class="d-grid">
                  <button [disabled]="!authForm.valid" class="btn btn-primary">
                    Login
                  </button>
                </div>
              </div>
              <div class="col-6">
                <div class="d-grid">
                  <button
                    (click)="onRegister()"
                    [disabled]="!authForm.valid"
                    class="btn btn-success"
                  >
                    Register
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
