<div class="backdrop">
  <div class="my-form">
    <h2 class="text-center">Add New Todo</h2>
    <form>
      <!-- title -->
      <div class="form-group mb-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder=""
            [(ngModel)]="title"
          />
          <label for="title">Title :</label>
        </div>
      </div>
      <!-- body -->
      <div class="form-group mb-4">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="body"
            id="body"
            placeholder=""
            [(ngModel)]="body"
          />
          <label for="body">Body :</label>
        </div>
      </div>
      <!-- button -->
      <div class="row">
        <div class="col-6">
          <div class="d-grid">
            <button class="btn btn-secondary" (click)="onAddTodo()">Add</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
