<h2>Pipe Demo Component</h2>

<p>Promise Object : {{ promise | async }}</p>

<p>Contact Number : {{ contactNumber | countrycode : "USA" }}</p>

<p>Reverse : {{ "Hello World" | reverse }}</p>
<hr />
<div class="container">
  <div class="row mb-4">
    <!-- Filter -->
    <div class="col-4">
      <select class="form-control" [(ngModel)]="filteredStatus">
        <option value="">Filter Here</option>
        <option value="done">Completed Tasks</option>
        <option value="pending">Pending Tasks</option>
      </select>
    </div>

    <!-- Sort -->
    <div class="col-4">
      <select class="form-control" [(ngModel)]="order">
        <option value="">Sort Here</option>
        <option value="ascending">Ascending</option>
        <option value="decending">Decending</option>
      </select>
    </div>

    <!-- Button -->
    <div class="col-4">
      <div class="d-grid">
        <button class="btn btn-primary" (click)="onAddNew()">Add</button>
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li
      *ngFor="
        let todo of todoCollection | filter : filteredStatus | sort : order
      "
      class="list-group-item"
    >
      {{ todo.label | uppercase }}
      <span class="badge bg-primary float-end">
        {{ todo.status }}
      </span>
    </li>
  </ul>
</div>
