<div class="container">
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let user of users; index as i; first as isFirst; even as isEven"
    >
      <div class="row mb-3">
        <div class="col-3">
          <app-user-image
            (childEvent)="onMoreInfo($event)"
            [user]="user"
          ></app-user-image>
        </div>
        <div class="col-9">
          <app-user-info>
            <h1 appHighlight [favColor]="'green'">
              {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
            </h1>

            <p
              class="user-dob"
              [ngClass]="dynamicClasses"
              (mouseenter)="onToggleClass(pElement)"
              id="p001"
              #pElement
            >
              Date of Birth :
              <span [innerText]="user.dob | date : 'dd-MM-yyyy'"></span>
            </p>

            <div class="info-container">
              <p
                [ngStyle]="dynamicStyles"
                *ngIf="user.isWorking; else elseTemplate"
              >
                Income :
                <span [innerText]="user.income | currency : 'EUR'"></span>
              </p>

              <p>Total Votes : {{ user.votes | percent }}</p>

              <input type="number" [(ngModel)]="user.votes" />

              <ng-template #elseTemplate>
                <p>Mr. {{ user.firstName }} is Not working now!</p>
              </ng-template>
            </div>
          </app-user-info>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-comments [comments]="user.comments"></app-comments>
        </div>
      </div>
    </li>
  </ul>
</div>
